<div ng-controller="SpecSheetView">
    <div class="ci-container">
        <p> {{stockItemId}} </p>

        <!-- <iframe class="responsive-iframe" src="https://application.doodle-products.com/?itemGuid=1234"></iframe> -->

        <!-- Product Details -->
        <p> Product Details: </p>
        <input class="ext-prop" type="text" name="productDetails" ng-model="prodDetails.PropertyValue" />

        <!-- ArtWork -->
        <p> Artwork </p>
        <input class="ext-prop" type="text" name="artwork" ng-model="artwork.PropertyValue" />

        <!-- Packaging Details -->
        <p> Packaging Details: </p>
        <input class="ext-prop" type="text" name="packagingDetails" ng-model="prodDetails.PropertyValue" />

        <!-- Inner Carton -->
        <p> Inner Carton: </p>
        <input class="ext-prop" type="text" name="innerCarton" ng-model="innerCarton.PropertyValue" />

        <!-- General Comments -->
        <p> General Comments: </p>
        <input class="ext-prop" type="text" name="generalComments" ng-model="generalComments.PropertyValue" />

        <br>
        <!-- <div class="pull-right"> -->
            <button class="btn btn-primary" ng-click="saveProperties()">Save Properties</button>
            <button class="btn btn-primary" ng-click="generateSpecSheet()">Generate Spec Sheet</button>
        <!-- </div> -->

    </div>




</div>