<div ng-controller="SpecSheetView">
    

    <div class="ci-container">
        <p> {{itemGuid}} </p>

        <iframe id="plkrFrame" class="responsive-iframe"></iframe>

        <!-- <label for="productDetails">Product Details:</label>
        <textarea class="ext-prop" id="productDetails" name="productDetails" rows="4" cols="100"
            ng-model="productDetails.PropertyValue" maxlength="2000"></textarea>

        <label for="artwork">Artwork:</label>
        <textarea class="ext-prop" id="artwork" name="artwork" rows="4" cols="100" ng-model="artwork.PropertyValue"
            maxlength="2000"></textarea>

        <label for="packagingDetails">Packaging Details:</label>
        <textarea class="ext-prop" id="packagingDetails" name="packagingDetails" rows="4" cols="100"
            ng-model="packagingDetails.PropertyValue" maxlength="2000"></textarea>

        <label for="innerCarton">Inner Carton:</label>
        <textarea class="ext-prop" id="innerCarton" name="innerCarton" rows="4" cols="100"
            ng-model="innerCarton.PropertyValue" maxlength="2000"></textarea>

        <label for="generalComments">General Comments:</label>
        <textarea class="ext-prop" id="generalComments" name="generalComments" rows="4" cols="100"
            ng-model="generalComments.PropertyValue" maxlength="2000"></textarea>

        <button class="btn btn-primary" ng-click="saveProperties()">Save Properties</button>
        <button class="btn btn-primary" ng-click="generateSpecSheet()">Generate Spec Sheet</button> -->
      
    </div>




</div>