<div ng-controller="PayWithPayoneerView">

  <div ng-if="ShowError">
    <div class="alert alert-warning">
      <strong>Error</strong> There was an error loading some of the data required for this page. Please try again later.
    </div>
  </div>

  <!-- <section>
    <table class="generic-module-layout tabset" lw-tst="tab_set" modern-layout="" tab-loaded="tabLoaded">
      <tbody>
        <tr>
          <td class="static-content header-menu-content">
            <ul class="nav nav-tabs" ng-class="{'nav-justified' : justified === 'true'}"
              ng-hide="tabSet.shouldHideHeader();">
              <li class="active" data-index="0" lw-tst="tab_ByItem"><a>
                  <lw-tab-header lw-tst="tab_ByItem" class="active">By Item</lw-tab-header>
                </a></li>
              <li data-index="1" lw-tst="tab_ByAmount" class=""><a>
                  <lw-tab-header lw-tst="tab_ByAmount" class="" ng-click="showTabByAmount()">By Amount</lw-tab-header>
                </a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="flexible-content">
            <div class="tab-content">
              <div class="tab-pane position-relative active" data-index="0">
                <table class="generic-module-layout">
                  <tbody>
                    <tr>
                      <td class="flexible-content">

                        <div class="linngrid slickgrid" id="pwpByItemGrid"
                          style="width: 100%; height: 200px; outline: 0px; position: relative;"></div>

                        <table class="pull-right" style="min-width:300px;">
                          <tbody>
                            <tr>
                              <td class="totalsLabel">Paid:</td>
                              <td style="text-align: right"> {{ paid }} {{ orderCurrency }}</td>
                            </tr>
                            <tr>
                              <td class="totalsLabel">Outstanding:</td>
                              <td style="text-align: right"> {{ outstanding }} {{ orderCurrency }}</td>
                            </tr>
                            <tr>
                              <td class="totalsLabel"><b>Selected To Pay:</b></td>
                              <td style="text-align: right"><b> {{ selectedToPay }} {{ orderCurrency }}</b></td>
                            </tr>
                            <tr>
                              <td class="totalsLabel">Your balance is:</td>
                              <td style="text-align: right"> {{ balance }} {{ orderCurrency }}</td>
                            </tr>
                            <tr>
                              <td ng-if="topupAccount" class="totalsLabel">Click here to top-up your account</td>
                            </tr>

                            <tr>
                              <td colspan="2" style="border-top: solid 1px #000"></td>
                            </tr>

                            <tr>
                              <td></td>
                              <td>
                                <div class="pull-right">
                                  <button class="btn btn-primary" ng-click="PayByItems()">Pay</button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div ng-disabled="true" class="tab-pane position-relative" data-index="1">
                <table class="generic-module-layout">
                  <tbody>
                    <tr>
                      <td class="flexible-content">
                        <div class="linngrid" id="pwpByAmountGrid"
                          style="width: 100%; height: 200px; outline: 0px; position: relative;"></div>

                        <table class="pull-right" style="min-width:300px;">
                          <tbody>
                            <tr>
                              <td class="totalsLabel">Paid:</td>
                              <td style="text-align: right"> {{ paid }} {{ orderCurrency }}</td>
                            </tr>
                            <tr>
                              <td class="totalsLabel">Outstanding:</td>
                              <td style="text-align: right"> {{ outstanding }} {{ orderCurrency }}</td>
                            </tr>
                            <tr>
                              <td class="totalsLabel"><b>Amount To Pay, {{ orderCurrency }}: </b></td>
                              <td style="text-align: right">
                                
                                <form name="form">
                                  <input type="number" name="input" min="{{min}}" max="{{outstanding}}"
                                    ng-model="amountToPay" required step="0.01" />
                                </form>
                              </td>
                            </tr>
                            <tr>
                              <td class="totalsLabel">Your balance is:</td>
                              <td style="text-align: right"> {{ balance }} {{ orderCurrency }}</td>
                            </tr>
                            <tr>
                              <td ng-if="topupAccount" class="totalsLabel">Click here to top-up your account</td>
                            </tr>
                            <tr>
                              <td colspan="2" style="border-top: solid 1px #000"></td>
                            </tr>

                            <tr>
                              <td></td>
                              <td>
                                <div class="pull-right">
                                  <button class="btn btn-primary" ng-click="payByAmount()">Pay</button>
                                </div>
                              </td>
                            </tr>

                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <lw-tab-set lw-tst="tab_set" modern-layout="" tab-loaded="tabLoaded">
      <lw-tab class="active" data-index="0">

      </lw-tab>

      <lw-tab ng-disabled="true" data-index="1">

      </lw-tab>
    </lw-tab-set>
  </section> -->
  <label>show first tab (ng-if): <input type=checkbox ng-model="showTabByItems"> </label><h2>Tabset example</h2>
  <p> <strong>Common theory of using tabset:</strong> </p>
  <p> <strong>lw-tab-set</strong> directive was has been reworked to make angularjs directives compatible with it. For example ng-if could work once tab is rendered but never deleted if <strong>ng-if</strong> state changed. Currently all attributes (directives)
      applied to <strong>lw-tab</strong> element AND <strong>lw-tab-header</strong> element are copied to <strong>LI</strong> rendered to tabset. Then it is compiled to simulate as if you were put them there. Because of attributes are copied from both
      places (lw-tab and lw-tab-header) it is preferred to always use only lw-tab to manipulate your render logic. </p>
  <p> Tabset automatically activates first tab, you don't need to write class=\"active\" on lw-tab (or lw-tab-header) element. <strong>lazy-loading</strong> option is removed as placeholder, slickGrid, lwControl now can detect when their tab is being activated
      and compile/load themselves properly. Manual setting is not needed in this case. </p>
  <p> Tabset has some new callbacks like: </p>
  <pre>\r\n        onShown: \"&\",\r\n        onBeforeShown: \"&\",\r\n        onTabSetReady: \"&\"\r\n    </pre>
  <p> Use onTabSetReady when you want to access its controller in your code. <strong> So instead of using $('.tabset').scope().setActive(0) it is preferred and recommended to get tabset controller reference to your variable and use tabSetController.setActive();</strong>        You can access more properties and methods if you need through the controller. This should help us to get rid of <strong>.scope()</strong> usages as it is not invented to access internal scope API but only for debug purposes. Currently hack is
      implemented to allow you still use this approach but whenever you see it in the code you should consider remove it and changes with example below. </p>
  <pre>\r\n        //html template\r\n        &#60;lw-tab-set on-tab-set-ready='$ctrl.onTabSetReady(tabSet);'&#62;\r\n            &#60;lw-tab&#62;\r\n                &#60;lw-tab-header&#62;\r\n                    Tab Title\r\n                &#60;/lw-tab-header&#62;\r\n        \r\n                &#60;lw-tab-content&#62;\r\n                    Tab content\r\n                &#60;/lw-tab-content&#62;\r\n            &#60;/lw-tab&#62;\r\n        &#60;/lw-tab-set&#62;\r\n        \r\n        //in controller\r\n        let tabSet;\r\n        this.onTabSetReady = function (tabSetController) {tabSet = tabSetController;}\r\n        \r\n        //..... a few moments later ...\r\n        if (tabSet) {\r\n            //console.log(tabSet.tabs);\r\n            //console.log(tabSet.activeTabId);\r\n            //debug to see more public methods\r\n            tabSet.setActive(\"some known 'index'\");\r\n        }\r\n    </pre>
  <p> This document may change in time if we find some more useful tips. </p>
  <p> At this page is demonstrated basic usage of <strong>lw-tab-set</strong> directive with examples of ng directives in use. </p> <br/> <br/> <br/>
  <div> <label>show first tab (ng-if): <input type=checkbox ng-model=$ctrl.firstTabShown ng-init=\"$ctrl.firstTabShown = true;\"/> </label> <label>Disable first tab (ng-disabled): <input type=checkbox ng-model=$ctrl.firstTabDisabled ng-init=\"$ctrl.firstTabDisabled = false;\"/> </label>        <label>show second tab (ng-if): <input type=checkbox ng-model=$ctrl.secondTabShown ng-init=\"$ctrl.secondTabShown = false;\"/> </label> <label>show third tab (ng-show): <input type=checkbox ng-model=$ctrl.thirdTabShown ng-init=\"$ctrl.thirdTabShown = true;\"/> </label>        <label>Dynamic Title: <input ng-model=$ctrl.title /> </label> <label>Dynamic Content: <input ng-model=$ctrl.content /> </label>
      <div class=tabset-container>
          <lw-tab-set>
              <lw-tab ng-if=$ctrl.firstTabShown ng-disabled=$ctrl.firstTabDisabled>
                  <lw-tab-header> {{$ctrl.title}} </lw-tab-header>
                  <lw-tab-content>
                      <p> Tab content #1 </p> <strong>Dynamic content:</strong>
                      <div> {{$ctrl.content}} </div>
                  </lw-tab-content>
              </lw-tab>
              <lw-tab ng-if=$ctrl.secondTabShown>
                  <lw-tab-header> Tab #2 </lw-tab-header>
                  <lw-tab-content> Tab content #2 </lw-tab-content>
              </lw-tab>
              <lw-tab ng-show=$ctrl.thirdTabShown>
                  <lw-tab-header> Tab #3 </lw-tab-header>
                  <lw-tab-content> Content #3 </lw-tab-content>
              </lw-tab>
          </lw-tab-set>
      </div>
  </div>



  <div>
    <h2>Payment History</h2>
    <div class="linngrid" id="pwpPaymentsGrid" style="width: 100%; height: 140px; outline: 0px; position: relative;">
    </div>

    <div ng-if="!paymentsExist">
      <h5>No payments found for this PO.</h5>
    </div>

  </div>

  <div>
    <div class=tabset-container>
      <lw-tab-set>
        <lw-tab ng-if="showTabByItems" >
          <lw-tab-header> By Item </lw-tab-header>
          <lw-tab-content>
            <table class="generic-module-layout">
              <tbody>
                <tr>
                  <td class="flexible-content">

                    <div class="linngrid slickgrid" id="pwpByItemGrid"
                      style="width: 100%; height: 200px; outline: 0px; position: relative;"></div>

                    <table class="pull-right" style="min-width:300px;">
                      <tbody>
                        <tr>
                          <td class="totalsLabel">Paid:</td>
                          <td style="text-align: right"> {{ paid }} {{ orderCurrency }}</td>
                        </tr>
                        <tr>
                          <td class="totalsLabel">Outstanding:</td>
                          <td style="text-align: right"> {{ outstanding }} {{ orderCurrency }}</td>
                        </tr>
                        <tr>
                          <td class="totalsLabel"><b>Selected To Pay:</b></td>
                          <td style="text-align: right"><b> {{ selectedToPay }} {{ orderCurrency }}</b></td>
                        </tr>
                        <tr>
                          <td class="totalsLabel">Your balance is:</td>
                          <td style="text-align: right"> {{ balance }} {{ orderCurrency }}</td>
                        </tr>
                        <tr>
                          <td ng-if="topupAccount" class="totalsLabel">Click here to top-up your account</td>
                        </tr>

                        <tr>
                          <td colspan="2" style="border-top: solid 1px #000"></td>
                        </tr>

                        <tr>
                          <td></td>
                          <td>
                            <div class="pull-right">
                              <button class="btn btn-primary" ng-click="PayByItems()">Pay</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>
              </tbody>
            </table>
          </lw-tab-content>
        </lw-tab>
        <lw-tab ng-if="showTabByAmount">
          <lw-tab-header> By Amount </lw-tab-header>
          <lw-tab-content>
            <table class="generic-module-layout">
              <tbody>
                <tr>
                  <td class="flexible-content">
                    <div class="linngrid" id="pwpByAmountGrid"
                      style="width: 100%; height: 200px; outline: 0px; position: relative;"></div>

                    <table class="pull-right" style="min-width:300px;">
                      <tbody>
                        <tr>
                          <td class="totalsLabel">Paid:</td>
                          <td style="text-align: right"> {{ paid }} {{ orderCurrency }}</td>
                        </tr>
                        <tr>
                          <td class="totalsLabel">Outstanding:</td>
                          <td style="text-align: right"> {{ outstanding }} {{ orderCurrency }}</td>
                        </tr>
                        <tr>
                          <td class="totalsLabel"><b>Amount To Pay, {{ orderCurrency }}: </b></td>
                          <td style="text-align: right">
                            <!-- <b><input type="text" class="input-small ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" ng-decimal-number="" ng-decimal-number-allow-negatives="false" ng-model="amountToPay"> {{ orderCurrency }}</b> -->
                            <form name="form">
                              <!-- <label for="input">Input field:</label> -->
                              <input type="number" name="input" max="{{outstanding}}"
                                ng-model="amountToPay" required step="0.01" />
                              <!-- <div ng-messages="form.input.$error" style="color: #ff0000" role="alert" ng-if="form.input.$dirty">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="min">This field must be at least {{min}}.</div>
                                <div ng-message="max">This field must be at max {{max}}.</div>
                                <div ng-message="number">Not a valid number.</div>
                              </div> -->
                            </form>
                          </td>
                        </tr>
                        <tr>
                          <td class="totalsLabel">Your balance is:</td>
                          <td style="text-align: right"> {{ balance }} {{ orderCurrency }}</td>
                        </tr>
                        <tr>
                          <td ng-if="topupAccount" class="totalsLabel">Click here to top-up your account</td>
                        </tr>
                        <tr>
                          <td colspan="2" style="border-top: solid 1px #000"></td>
                        </tr>

                        <tr>
                          <td></td>
                          <td>
                            <div class="pull-right">
                              <button class="btn btn-primary" ng-click="payByAmount()">Pay</button>
                            </div>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

          </lw-tab-content>
        </lw-tab>
      </lw-tab-set>
    </div>
  </div>

</div>