<div ng-controller="RemoveOutOfStockView">

  <table>

  </table>

  <div style="width: 100%; min-height: 100px; height:auto" class="itemsTableContainer">
    <table lw-tst="grid2" class="lw-table lw-table-fixed order-items" style="table-layout: auto !important">
      <thead>
        <tr>
          <th style="min-width: 160px;">SKU</th>
          <th style="min-width: 160px">Title</th>
          <th style="min-width: 100px">Quantity</th>
          <th style="min-width: 100px">Available in stock</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="i in itemsToRemove">
          <td>{{ i.SKU }}</td>
          <td>{{ i.Title }}</td>
          <td>{{ i.Quantity }}</td>
          <td>{{ i.AvailableStock }}</td>
          <td></td>
        </tr>
      </tbody>

    </table>
  </div>

  <!-- <div class="linngrid" id="roosItemsGrid" style="width: 100%; height: 140px; outline: 0px; position: relative;"></div> -->

  <div class="pull-right">
    <button class="btn btn-primary" ng-click="removeOutOfStock()">Remove</button>
    <button lw-tst="btn_Cancel" class="btn func" ng-click="cancel()">Cancel</button>

    <input type="button" class="btn" handle-click="true" key="YES" value="Yes" lw-tst="btn_YES">
    <input type="button" class="btn" handle-click="true" key="NO" value="No" lw-tst="btn_NO">
  </div>

</div>